  *{margin: 0; padding: 0}*


#banner img, #main-menu{
  	width: 900px;
  	margin: auto;
  	display: block;

  }
h1{
	text-align: center;
}
#main-menu{
	background: pink;
	margin-bottom: 12px;
	width: 600px;
}
a:link {
	padding: 30px;
    text-decoration: none;
    font-size: 24px;
}
a:hover {
    background-color: #FF704D;
}
#main-content{
  width: 950px;
  margin: auto;
  display: block;
}
.post-img img{
  width: 300px;
  height: 200px;
}

.post-inline1 {
	float: left;
}
.post-inline2 {
  float: left;
  margin-left: 13px;
}

.post-inline3 {
  float: right;
}

span{
  color: red;
  font-size: 20px;
}

.wrap{
	max-width: 1000px;
	margin: auto;
}



