  *{margin: 0; padding: 0}*


#banner img{
width: 900px;
height: 270px;
margin: auto;
display: block;
  }
h1{
	text-align: center;
	height: 50px;
	margin-top: 10px;
}
#main-menu{
	background: pink;
	margin-bottom: 12px;
	width: 840px;
	margin: auto;
	
}
#main-menu a:link {
	display: block;
	width: 200px;
	margin-right: 2px;
	background-color: pink;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	}
	
#main-menu a:hover {
    background-color: #FF704D;
}
#main-content{
  width: 960px;
  margin: auto;
  display: block;
}

.post-img img{
width: 270px;
height: 200px;
margin: 20px;
border: 1px solid #ddd;
opacity: 1;
transition: opacity 1s linear; 
float: left;
}

.post-img:hover img{
	opacity: 0.5;
}
.post-inline {
	float: left;
}
.post-name {
	padding-left: 70px;
}

span{
  color: red;
  font-size: 20px;
  padding-left: 10px;
}

.wrap{
	max-width: 1000px;
	margin: auto;
}



